extends ../layout

block content
  h1 Register
  // Signup form with column layout
  form(action="/auth/signup", method="post")
    .form-group
      label(for="name") Name:
      input#name.form-control(type="text", name="name", placeholder="Enter your name", required)

    .form-group
      label(for="email") Email:
      input#email.form-control(type="email", name="email", placeholder="Enter your email", required)

    .form-group
      label(for="password") Password:
      input#password.form-control(type="password", name="password", placeholder="Enter your password", required)

    .form-group
      button.btn.btn-primary(type="submit") Sign Up