extends ../layout

block content
  h1 Log in
  // Login form with column layout
  form#signupForm(action="/auth/signin", method="post")
    .form-group
      label(for="email") Email:
      input#email.form-control(type="email", name="email", placeholder="Enter your email", required)

    .form-group
      label(for="password") Password:
      input#password.form-control(type="password", name="password", placeholder="Enter your password", required)

    .form-group
      button.btn.btn-primary(type="submit") Log in
  